<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>404</title>
  <script src="../js/script.js"></script>
</head>
<body>
  <h2>Beklager, bruker ble ikke funnet. Her er flere mulige grunner.</h2>

  <h2>Sjekk at du skrev riktig epostaddresse og passord.</h2>

  <h2>Pass på at du har faktisk laget bruker.</h2>

  <h2>Jeg er inkompitent og klarer ikke lage en fungerende nettside.</h2>
  <img src="./be.jpg">
</body>
</html>